version: '3.8'

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db

  nextjs:
    build:
      context: .        # . ile Dockerfile'ın olduğu yeri belirtirsin
    container_name: nextjs-app
    ports:
      - '3000:3000'
    environment:
      - MONGODB_URI=mongodb://mongo:27017/mydb
    depends_on:
      - mongo

volumes:
  mongo-data:
